Repository frenme/base-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_app, deploy_kafka, deploy_redis, deploy_postgres, deploy_mongo, deploy_kong

.gitlab-ci.yml:

default:
  image: alpine:latest
  before_script:
    - apk add --no-cache git openssh-client docker-compose
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H "$DEPLOY_SERVER" >> ~/.ssh/known_hosts

stages:
  - deploy

deploy_app:
  stage: deploy
  script:
    - ssh "$DEPLOY_USER@$DEPLOY_SERVER" <<'EOF'
      cd ${PROJECT_PATH}
      git pull origin main
      cd app
      docker compose -f docker compose.dev.yml down
      docker compose -f docker compose.dev.yml up -d
      EOF
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - app/**/*

deploy_kafka:
  stage: deploy
  script:
    - ssh "$DEPLOY_USER@$DEPLOY_SERVER" <<'EOF'
      cd ${PROJECT_PATH}/kafka
      docker compose down
      docker compose up -d
      EOF
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - kafka/**/*

deploy_redis:
  stage: deploy
  script:
    - ssh "$DEPLOY_USER@$DEPLOY_SERVER" <<'EOF'
      cd ${PROJECT_PATH}/redis
      docker compose down
      docker compose up -d
      EOF
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - redis/**/*

deploy_postgres:
  stage: deploy
  script:
    - ssh "$DEPLOY_USER@$DEPLOY_SERVER" <<'EOF'
      cd ${PROJECT_PATH}/postgres
      docker compose down
      docker compose up -d
      EOF
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - postgres/**/*

deploy_mongo:
  stage: deploy
  script:
    - ssh "$DEPLOY_USER@$DEPLOY_SERVER" <<'EOF'
      cd ${PROJECT_PATH}/mongo
      docker compose down
      docker compose up -d
      EOF
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - mongo/**/*

deploy_kong:
  stage: deploy
  script:
    - ssh "$DEPLOY_USER@$DEPLOY_SERVER" <<'EOF'
      cd ${PROJECT_PATH}/kong
      docker compose down
      docker compose up -d
      EOF
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - kong/**/*

bug fixes
  app/order-service/internal/db/db.go
Due: deploy_app

bug fixes
  mongo/setup.sh
Due: deploy_mongo

bug fixes
  app/order-service/internal/db/db.go
  mongo/setup.sh
Due: deploy_app, deploy_mongo

bug fixes
  .gitlab-ci.yml
  mongo/docker-compose.yml
  mongo/mongod.conf
  mongo/setup.sh
Due: deploy_mongo

ci cd
  .gitlab-ci.yml
Due: none

ci cd
  app/order-service/internal/routes/v2/handler.go
Due: deploy_app

ci cd
  .gitlab-ci.yml
  app/order-service/internal/routes/v2/handler.go
Due: deploy_app

ci cd
  app/order-service/internal/routes/v2/handler.go
  app/order-service/internal/services/order_service.go
Due: deploy_app

ci cd
  .gitlab-ci.yml
  app/order-service/internal/services/order_service.go
Due: deploy_app

add CI/CD pipelines
  app/order-service/internal/services/order_service.go
Due: deploy_app

add CI/CD pipelines
  .gitlab-ci.yml
  app/order-service/internal/services/order_service.go
Due: deploy_app

add CI/CD pipelines
  app/order-service/internal/db/db.go
  mongo/docker-compose.yml
  mongo/setup.sh
Due: deploy_app, deploy_mongo

some improvements
  .gitlab-ci.yml
  README.md
  app/order-service/internal/services/order_service.go
  grafana-prometheus/.env.example
  prometheus/.env.example
  prometheus/docker-compose.yml
  prometheus/prometheus.yml
  stop.sh
Due: deploy_app

add health check and fix restart policy
  README.md
  app/docker-compose.dev.yml
  app/docker-compose.prod.yml
  kafka/docker-compose.yml
  kong/docker-compose.yml
  mongo/docker-compose.yml
  postgres/docker-compose.yml
  prometheus/docker-compose.yml
  redis/docker-compose.yml
Due: deploy_app, deploy_kafka, deploy_redis, deploy_postgres, deploy_mongo, deploy_kong

fix (user_service_test.go): naming
  app/user-service/internal/modules/user/user_service_test.go
Due: deploy_app

fix: containers config
  app/docker-compose.prod.yml
  app/temp-service/Dockerfile
  app/temp-service/Dockerfile.dev
Due: deploy_app

minor fixes
  app/.dockerignore
  app/agency-service/Dockerfile
  app/agency-service/internal/db/db.go
  app/shared-service/Dockerfile
  app/shared-service/main.go
  app/shared-service/pkg/db/mongo.go
  app/shared-service/pkg/db/postgres.go
  app/shared-service/pkg/db/redis.go
  app/temp-service/Dockerfile
  app/temp-service/internal/db/db.go
  app/user-service/Dockerfile
  app/user-service/internal/db/db.go
  run.sh
Due: deploy_app

docs: README.md change
  README.md
Due: none

refactor: improve redis cache test performance
  app/temp-service/internal/modules/redis-cache/handlers/v1/handler.go
  app/temp-service/internal/modules/redis-cache/service.go
  app/temp-service/internal/repository/repository.go
  run.sh
  stop.sh
Due: deploy_app

feat: add cursorrules configuration
  .cursorrules
Due: none

Update air to v1.60.0 in dev Dockerfiles
  app/shared-service/Dockerfile.dev
  app/temp-service/Dockerfile.dev
  app/user-service/Dockerfile.dev
Due: deploy_app

feat(temp-service): add minimal gRPC server with health and reflection; wire in main; expose 50051
  app/shared-service/go.mod
  app/shared-service/go.sum
  app/temp-service/Dockerfile
  app/temp-service/Dockerfile.dev
  app/temp-service/go.mod
  app/temp-service/go.sum
  app/temp-service/internal/grpcserver/server.go
  app/temp-service/main.go
Due: deploy_app

feat(shared,services): centralize grpc server bootstrap in shared; wire in temp and user; expose 50051
  app/shared-service/go.mod
  app/shared-service/go.sum
  app/shared-service/pkg/grpcserver/server.go
  app/temp-service/main.go
  app/user-service/Dockerfile
  app/user-service/Dockerfile.dev
  app/user-service/main.go
Due: deploy_app

feat(user-service,temp,shared): add grpc health call example from user to temp; centralize grpc Start signature
  app/shared-service/pkg/grpcserver/server.go
  app/temp-service/go.mod
  app/temp-service/main.go
  app/user-service/internal/modules/user/handlers/v1/handler.go
  app/user-service/internal/modules/user/handlers/v1/routes.go
  app/user-service/main.go
Due: deploy_app

feat(grpc): add Echo proto in shared, register in temp-service; add client call from user-service; add json grpc codec; make server Start registerable
  app/shared-service/pkg/grpcserver/server.go
  app/shared-service/pkg/grpcx/jsoncodec/codec.go
  app/shared-service/pkg/proto/echo/echo.pb.go
  app/shared-service/pkg/proto/echo/echo.proto
  app/shared-service/pkg/proto/echo/echo_grpc.pb.go
  app/temp-service/internal/echo/server.go
  app/temp-service/main.go
  app/user-service/internal/modules/user/handlers/v1/handler.go
  app/user-service/internal/modules/user/handlers/v1/routes.go
  app/user-service/main.go
Due: deploy_app
